body{
    font-family: "DM Sans",sans-serif;
}
details > summary::marker{
    display: none;
    content:'';
}
a{
    text-decoration: none;
    list-style: none;
}
.display {
    display:flex;
    list-style: none;
    gap:20%;
}
.n1 {
    display: flex;
    gap: 29px;
    list-style: none;

}
.n2 {
    display: flex;
    gap: 29px;
    list-style: none;

    
}
.n3 {
   display: flex;
   list-style: none;
   gap: 29px;
}
.nabor_list{
    font-family: "DM Sans",sans-serif;
}
@media screen and (min-width:992px) {
    .inf1 {
        width: 60%;
        margin-left: 20%;
    }
    .nabor {
        padding-top: 5%;
        padding-left: 6%;
    }
    .im1 {
        width:68%;
    }
    .im2 {
        width: 44%;
    }
    .head1{
        padding: 30px;
    }
    .head_cont {
        max-width:60%;
        margin-inline:auto;
    }
    .head_cont_nav {
        display:flex;
        justify-content:space-between;
        align-items: center;
    }
    .nabor_div {
        max-width: 1000;
        margin-inline:auto ;
    }
    .zag {
        display: flex;
        list-style: none;
        gap: 15%;
        padding-bottom: 2%;
        margin-left:15%;
    }
    .zag1 {
        display: flex;
        list-style: none;
        gap: 14%;
        margin-left:14%;
        padding-bottom: 2%;
    }
    .ss {
        position: relative;
        color:var(--black) ;
        font-size: 120%;
        transition: color 0.3s;
    }
    .ss:hover {
        color: #00BFFF;
    }
    .ss1 {
        position: relative;
        color: var(--black);
        transition: color 0.3s;
        font-size: 130%;
        text-decoration: none;
    }
    .ss1:hover{
        color:#00BFFF ;
    }
    .abt{
        width: 150%;
        height: 100%;
        background-color: #00BFFF;
        border:100% solid #00BFFF;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    }
    .display {
        margin-right: 21%;
    }
    .inf7 {
        height: 50%;
        margin-left: 20%;
    }
    .inf2 {
        width: 40%;
        margin-left: 20%;
    }
    .inf5 {
        height: 50%;margin-left: 20%;
    }
    .inf6 {
        height: 50%;
        margin-left: 20%;
    }
    .inf7 {
        height: 50%;margin-left: 20%;
    }
    .inf8 {
        height: 8%;margin-left: 20%;
    }
    .inf9 {
        height: 43%;margin-left: 20%;
    }
    .inf10 {
        height: 60%;margin-left: 20%;
    }
    .inf11 {
        height: 43%;margin-left: 20%;
    }
    .inf12 {
        height: 43%;margin-left: 20%;
    }
    .inf13 {
        height: 55%;margin-left: 20%;
    }
    .inf14 {
        height: 100%;margin-left: 20%;
    }
}
@media screen and (max-width: 992px) {
    .head2 {
        padding: 3% 0 0 0;
        max-width: 300px;
    } 
    .headm {
        max-width:360px;
        position: relative;
        right:40px;
    }
    .im1 {
        width:90px;
    }
    .im2 {
        width:40px;
        position: relative;
        right:30px;
        top: 4px;
    }
    .head_cont_nav {
        display:flex;
        justify-content:space-between;
        align-items: center;
    }
    .nabor {
        padding-top: 1%;
    }
    .nabor_div {
        max-width:50%;
        position: relative;
        right: 20px;
        bottom: 20px;
    }
    .zag {
        display: flex;
        list-style: none;
        gap: 10%;
    }
    .zag1 {
        display: flex;
        list-style: none;
        gap: 10%;
    }
    .ss {
        position: relative;
        color:var(--black) ;
        font-size: 80%;
        transition: color 0.3s;
    }
    .ss:hover {
        color: #00BFFF;
    }
    .ss1 {
        position: relative;
        color: var(--black);
        transition: color 0.3s;
        font-size: 80%;
        text-decoration: none;
    }
    .ss1:hover{
        color:#00BFFF ;
    }
    .abt{
        width: 280px;
        height: 140px;
        background-color: #00BFFF;
        border:100% solid #00BFFF;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(184, 143, 143, 0.3);
        position: absolute;
        left: 70px;
        z-index: 1;
    }
    .display {
        position: relative;
        right: 20px;
    }
    .tv {
        position: relative;
        left:50px;
    }
    .bio {
        position: relative;
        left:45px;
    }
    .chem {
        position: relative;
        left:30px;
    }
    .rus {
        white-space: nowrap;
        position: relative;
        left:5px;
    }
    .geom {
        position: relative;
        left:35px;
    }
    .alg {
        position: relative;
        left:10px;
    }
    .display {
        position: relative;
        right: 30px;
    }
    .st {
        position: relative;
        right: 13px;
    }
    .st1 {
        position: relative;
        right: 28px;
    }
    .st2 {
        position: relative;
        right: 40px;
    }
    .inf1 {
        width: 100%;
    }
    .inf7 {
        width: 100%;
        margin-left: 5%;
    }
    .inf2 {
        width:100%;
    }
    .inf5 {
        width: 100%;
        margin-left: 5%;
    }
    .inf6 {
        width: 100%;
        margin-left: 5%;
    }
    .inf7 {
        width: 100%;
        margin-left: 5%;
    }
    .inf8 {
        width: 100%;
        margin-left: 5%;
    }
    .inf9 {
        width: 100%;
        margin-left: 5%;
    }
    .inf10 {
        width: 100%;
        margin-left: 5%;
    }
    .inf11 {
        width: 100%;
        margin-left: 5%;
    }
    .inf12 {
        width: 100%;
        margin-left: 5%;
    }
    .inf13 {
        width: 100%;
        margin-left: 5%;
    }
    .inf14 {
        width: 100%;
        margin-left: 5%;
    }
    

}
